// Заголовки, общие БЄМ блоки и проче...
.badge {
  padding: 2px 7px;
  background-color: $accentColor;
  color: #000;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

//===================================HERO=====================================================================================================================

.hero {
  padding-top: clamp(0.625rem, -0.027rem + 3.26vw, 2.5rem); //40px 10px
  padding-bottom: clamp(3.75rem, 2.011rem + 8.7vw, 8.75rem); //140px 60px
  // .hero__container
  &__container {
  }
  // .hero__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
    gap: 30px;
    @media (max-width: 970px) {
      justify-content: center;
    }
  }
  // .hero__info
  &__info {
  }
  // .hero__info-title
  &__info-title {
    font-weight: 500;
    font-size: clamp(2.563rem, 2.149rem + 2.07vw, 3.75rem); //60px 41px
    max-width: 530px;
    line-height: clamp(3.438rem, 2.959rem + 2.39vw, 4.813rem);//77px 55px
    padding-bottom: clamp(0.625rem, 0.082rem + 2.72vw, 2.188rem); //35px 10px
    @media (max-width: 970px) {
      max-width: 598px;
    }
  }
  // .hero__info-subtitle
  &__info-subtitle {
    max-width: 500px;
    font-weight: 400;
    font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem); //20px 16px
    line-height: clamp(1.5rem, 1.413rem + 0.43vw, 1.75rem); //28px 24px
    padding-bottom: 35px;
    @media (max-width: 970px) {
      max-width: 598px;
    }
  }
  // .hero__info-button
  &__info-button {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    background-color: $darkColor;
    transition: color .3s ease, background-color .3s ease;
    @media (hover: hover) {      
      &:hover {
        color: #000;
        background-color: transparent;
      }
    }
    @media (max-width: 970px) {
      width: 100%;
    }
  }
  // .hero__img
  &__img {
    width: clamp(27.813rem, -6.991rem + 57.41vw, 37.5rem); //600px 445px
    @media (max-width: 970px) {
      width: 100%;
      padding-bottom: 10px;
    }
  }
  // .hero__sponsors
  &__sponsors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
    overflow-x: auto;
  }
  // .hero__sponsors-img
  &__sponsors-img {
    filter: grayscale(100%);
  }
}

//===================================/HERO=====================================================================================================================

//===================================SERVICES=====================================================================================================================

.services {
  padding-bottom: clamp(3.125rem, 2.038rem + 5.43vw, 6.25rem); //100px 50px
  // .services__container
  &__container {
  }
  // .services__top
  &__top {
    display: flex;
    align-items: center;
    gap: clamp(1.563rem, 1.236rem + 1.63vw, 2.5rem); //40px 25px
    padding-bottom: clamp(2.188rem, 1.209rem + 4.89vw, 5rem); //80px 35px
    @media (max-width: 780px) {
      flex-direction: column;
    }
  }
  // .services__top-title
  &__top-title {
    font-weight: 500;
    font-size: 40px;
  }
  // .services__top-subtitle
  &__top-subtitle {
    max-width: 580px;
    font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem); //18px 15px
    @media (max-width: 780px) {
      text-align: center;
    }
  }
  // .services__cards
  &__cards {
    display: flex;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
  }
  // .services__card
  &__card {
    position: relative;
    padding: clamp(2.188rem, 1.861rem + 1.63vw, 3.125rem); //50px 35px
    border: 1px solid #191a23;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    background-color: $grayColor;
    max-width: clamp(36.25rem, -2.188rem + 50vw, 37.5rem); //600px 580px
    box-shadow: 0 5px 0 0 #191a23;
    @media (max-width: 1230px) {
      max-width: none;
    }
  }
  // .services__card-info
  &__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 90px;
    @media (max-width: 560px) {
      gap: 110px;
    }
  }
  // .services__card-title
  &__card-title {
    max-width: clamp(13.438rem, 13.003rem + 2.17vw, 14.688rem);
    padding: 0 7px;
    span {
      font-weight: 500;
      font-size: clamp(1.5rem, 1.37rem + 0.65vw, 1.875rem); //30px 24px
    }
  }
  // .services__card-button
  &__card-button {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    position: relative;
    svg {
      transition: transform .4s ease;
    }
    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      bottom: 0;
      left: 57px;
      background-color: $darkColor;
      transition: width .3s ease;
    }
    @media (hover :hover) {
      &:hover {
        svg {
        transform: rotate(30deg);
        }
        &::before {
          width: 105px;
        }
      }
    }
    @media (max-width: 560px) {
      font-size: 0;
    }
  }
  // .services__card-img
  &__card-img {
    max-width: 210px;
    object-fit: contain;
    @media (max-width: 560px) {
     position: absolute;
     bottom: 35px;
     right: 35px; 
     max-height: 130px;
     max-width: 150px;
    }
  }
}

.accent-card {
  background-color: $accentColor;
  span {
    background-color: $darkColor;
    color: #fff;
  }
}

.dark-card {
  background-color: $darkColor;
  .services__card-button {
    color: #fff;
    &::before {
      background-color: #fff;
    }
  }
  span {
    background-color: #fff;
  }
  svg {
    circle {
      fill: #fff;
    }
    path {
      fill: $darkColor;
    }
  }
}

//===================================/SERVICES=====================================================================================================================

//===================================BANNER=====================================================================================================================

.banner {
  // .banner__container
  &__container {
  }
  &__wrapper {
    padding: clamp(1.875rem, 1.223rem + 3.26vw, 3.75rem); //60px 30px
    background-color: $grayColor;
    border-radius: 45px;
    display: flex;
    position: relative;
  }
  // .banner__info
  &__info {
    @media (max-width: 990px) {
      margin: 0 auto;
      text-align: center;
    }
    @media (max-width: 420px) {
      text-align: left;
    }
  }
  // .banner__info-title
  &__info-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 25px;
  }
  // .banner__info-subtitle
  &__info-subtitle {
    max-width: 500px;
    padding-bottom: 25px;
    font-size: clamp(1rem, 0.957rem + 0.22vw, 1.125rem); //18px 16px
  }
  // .banner__info-button
  &__info-button {
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background-color: $darkColor;
    @media (max-width:420px) {
      width: 100%;
      padding: 20px 15px !important;
      span {
        display: none;
      }
    }
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    @media(hover: hover) {
      &:hover {
        background-color: transparent;
        border-color: $darkColor;
        color: #000;
      }
    }
  }
  // .banner__img
  &__img {
    position: absolute;
    right: 135px;
    top: -20px;
    max-width: 495px;
    max-height: 394px;
    object-fit: cover;
    @media (max-width: 1090px) {
      right: 50px;
    }
    @media (max-width: 990px) {
      display: none;
    }
  }
}

//===================================/BANNER=====================================================================================================================

//===================================CASE=====================================================================================================================

.case {
  padding-top: clamp(3.75rem, 1.793rem + 9.78vw, 9.375rem); //150px 60px
  // .case__container
  &__container {
    z-index: 1 !important;
  }
  // .case__top
  &__top {
    display: flex;
    align-items: center;
    gap: clamp(1.563rem, 1.236rem + 1.63vw, 2.5rem); //40px 25px
    padding-bottom: clamp(2.188rem, 1.209rem + 4.89vw, 5rem); //80px 35px
    @media (max-width: 920px) {
      flex-direction: column;
    }
  }
  // .case__top-title
  &__top-title {
    font-weight: 500;
    font-size: 40px;
  }
  // .case__top-subtitle
  &__top-subtitle {
    max-width: 580px;
    font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem); //18px 15px
    @media (max-width: 920px) {
      text-align: center;
    }
  }
  // .case__slider
  &__slider {
    background-color: $darkColor;
    padding: 70px 60px;
    border-radius: 45px;
    @media (max-width: 1170px) {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
      width: 105%;
    }
  }

  // .case__wrapper
  &__wrapper {
    display: flex !important;
    gap: 128px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #fff;
      right: clamp(20.625rem, -21.803rem + 57.97vw, 23.125rem); //370px 330px
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #fff;
      left: clamp(19.688rem, -6.83rem + 36.23vw, 21.25rem); //340px 317px
    }
    @media (max-width: 1170px) {
      display: block;
      gap: 0;
      &::before {
        height: 0;
        width: 0;
      }
      &::after {
        height: 0;
        width: 0;
      }
    }
  }

  // .case__slide
  &__slide {
    background-color: $darkColor;
    border-radius: 45px;
    @media (max-width: 1170px) {
      padding: 40px;
    }
  }
  // .case__slide-text
  &__slide-text {
    color: #fff;

    font-size: clamp(1rem, 0.957rem + 0.22vw, 1.125rem); // 18px 16px
    font-weight: 400;
    line-height: 23px;

    padding-bottom: 20px;

  }
  // .case__slide-button
  &__slide-button {
    color: $accentColor;

    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    display: flex;
    align-items: center;
    gap: 15px;
    
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      height: 2px;
      background-color: $accentColor;
      width: 0px;
      transition: width .3s ease;
    }
    svg {
      transition: transform .3s ease;
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          width: 107px;
        }
        svg {
          transform: rotate(30deg);
        }
      }
    }
  }
}
	

//===================================/CASE=====================================================================================================================

//===================================WORKING=====================================================================================================================

.working {
  padding-top: 140px;
  padding-bottom: 140px;

  // .working__container

  &__container {
  }

  // .working__top

  &__top {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 80px;
  }

  // .working__top-title

  &__top-title {
    font-weight: 500;
    font-size: 40px;
  }

  // .working__top-subtitle

  &__top-subtitle {
    max-width: 580px;
    font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem);
  }

  // .working__spollers

  &__spollers {
  }

  // .working__spoller

  &__spoller {
    border: 1px solid #000;
    box-shadow: 0px 5px 0px 0px rgb(25, 26, 35);
    border-radius: 45px;
    background-color: $grayColor;

    padding: 40px 60px;
    margin-bottom: 30px;
  }


  // .working__spoller-title

  &__spoller-title {
    cursor: pointer;
  }

  // .working__spoller-info

  &__spoller-info {
    display: flex;
    align-items: center;
    gap: 25px;
    span {
      font-size: 60px;
      font-weight: 500;
      line-height: 77px;
    }
    p {
      font-size: 30px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  // .working__spoller-icon

  &__spoller-icon {
  }

  // .working__spoller-body

  &__spoller-body {
    padding-top: 60px;

    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
}

._spoller-active {
  background-color: $accentColor;
}
