//====================================================================================================

.footer {
  // .footer__container
  &__container {
    color: #fff;
    background-color: $darkColor;
    border-radius: 45px 45px 0 0;
    padding: 55px 60px 50px 60px;
  }
  // .footer__menu
  &__menu {

  }
  // .footer__info
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  // .footer__info-wrapper
  &__info-wrapper {
  }
  // .footer__info-badge
  &__info-badge {
    margin-bottom: 10px;
  }
  // .footer__list
  &__list {
    max-width: 350px;
    white-space: pre-line;
  }
  // .footer__list-item
  &__list-item {
    font-weight: 400;
    font-size: 18px;
    padding: 3px 0;
  }
  // .footer__form
  &__form {
    background-color: #292a32;

    padding: 58px 40px;
    border-radius: 14px;
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
  // .footer__form-field
  &__form-field {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 14px;
    padding: 22px 35px;
  }
  // .footer__form-button
  &__form-button {
    color: #000;
    background-color: $accentColor;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
  // .footer__bottom
  &__bottom {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 60px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
  // .footer__bottom-copyright
  &__bottom-copyright {
  }
  // .footer__bottom-link
  &__bottom-link {
  }
}
.menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 66px;
  // .menu-footer__logo
  &__logo {
  }
  // .menu-footer__logo-img
  &__logo-img {
  }
  // .menu-footer__body
  &__body {
  }
  // .menu-footer__list
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  // .menu-footer__item
  &__item {
  }
  // .menu-footer__link
  &__link {
  }
  // .menu-footer__social
  &__social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  // .menu-footer__social-link
  &__social-link {
  }
}
.badge {
  padding: 2px 7px;
  background-color: $accentColor;
  color: #000;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
}



//====================================================================================================

