//====================================================================================================

//====================================================================================================

.header {
	padding: 30px 0;
	// .header__container
	&__container {

	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}
	// .header__logo
	&__logo {
	}
	&__logo-img {
		width: clamp(8.75rem, 7.228rem + 7.61vw, 13.125rem); //210px 140px
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		color: #000;
		font-weight: 400;
		font-size: clamp(1rem, 0.913rem + 0.43vw, 1.25rem); //20px 16px
		line-height: 140%;

		display: flex;
		align-items: center;
		gap: 40px;
		@media (max-width: 1100px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100vh;
			z-index: 4;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: -100%;
			transition: left .6s ease;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		position: relative;
		&::after {
			position: absolute;
			left: 0;
			bottom: -5px;
			content: "";
			width: 0;
			height: 2px;
			background-color: #000;
			transition: width .3s ease;
		}
		@media (hover: hover) {			
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
	// .menu__button
	&__button {
		border-color: $darkColor;
		transition: color .2s ease, background-color .3s ease;
		@media (hover: hover) {
			&:hover {
				background-color: $darkColor;
				color: #fff;
			}
		}
	}
}
.icon-menu {
}





//Burger

.icon-menu {
	display: none;
	@media (max-width: 1100px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
			border-radius: 2px;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.menu-open {
	.menu__body {
		left: 0;
		transition: left .6s ease;
	}
}
